PlayGround/Java/Java.iml
PlayGround/Java/.idea/misc.xml
PlayGround/Java/.idea/modules.xml
PlayGround/Java/.idea/vcs.xml
*.class
*.xml
PlayGround/Java/out/production/Java/META-INF/Java.kotlin_module
MobileDevelopment/Flutter/Practice/tourism_and_co/pubspec.lock
.vscode/launch.json

*.dart_tool/
*.idea/
android/
build/
ios/
test/
.metadata
*.iml
*.packages


**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
PlayGround/Flutter_Dart/Flutter/charanflutter/pubspec.lock
